@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 78, 180, 191;
  --color-secondary: #4EB4BF;
  --gradient-border-nav: linear-gradient(90deg, rgba(78, 180, 191, 0.12) 0%, rgba(43, 217, 168, 0.12) 100%);
  --green-gradient: linear-gradient(90deg, #4EB4BF 0%, #2BD9A8 100%);

  --filter-dropdown: rgba(83, 108, 122, 0.15);
  --filter-dropdown-hover: rgba(83, 108, 122, 0.4);
}

.transition-custom {
  transition: all 0.25s ease-in-out;
}

.gradient-text {
  background: var(--green-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-border-bottom {
  border-bottom: 1px solid transparent;
  border-image: var(--gradient-border-nav);
  border-image-slice: 1;
}
.sign-in-button {
  background: var(--green-gradient);
}

.filter-dropdown {
  background: var(--filter-dropdown);
}

.filter-dropdown:hover {
  background: var(--filter-dropdown-hover);
}
